.social {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social__link {
    &:first-child {
        margin-right: 0;
    }
}

.social__ico {
    width: 32px;
    height: 32px;

    margin-right: 5px;
}
